{{- $rk := partial "rosey-content.html" page -}}
<section class="about-hero-two"{{ with ._uuid }} data-rosey-ns="{{ . }}"{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-10 mx-auto">
        <div class="about-hero-two-content position-relative">
          <h2 data-editable="text" data-prop="title"{{ if $rk }} data-rosey="title"{{ end }}>{{.title}}</h2>
          <p class="mb-20 w-xxl-80" data-editable="text" data-type="text" data-prop="description"{{ if $rk }} data-rosey="description"{{ end }}>{{ page.RenderString .description }}</p>
          <div class="">
            {{with .link}}
            <a href="{{.url}}" class="btn btn-primary btn-lg"> <editable-text data-prop="link.text"{{ if $rk }} data-rosey="link_text"{{ end }}>{{.text}}</editable-text> </a>
            {{end}}
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-12">
        <div class="about-hero-two-banner">
          <div data-editable="array" data-prop="hero_images">
          {{ range .hero_images }}
            <div data-editable="array-item"{{ with ._uuid }} data-rosey-ns="{{ . }}"{{ end }} class="rounded-box 
              {{ if eq .placer "back_top_right" }}
                image-one
              {{ else if eq .placer "front_bottom" }}
                image-two
              {{ else if eq .placer "back_top_left" }}
                image-three
              {{ end }}">
              <img src="{{.image_path}}" alt="aboutfeature" loading="lazy" data-editable="image" data-prop-src="image_path"/>
            </div>
          {{ end }}
          </div>
          <div class="pattern">
            <img src="/images/about/patterns-two.png" alt="patterns" loading="lazy"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
