{{- $rk := partial "rosey-content.html" page -}}
<section class="feature pt-0 pb-0"{{ with ._uuid }} data-rosey-ns="{{ . }}"{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header @@disply {{ with .no_top_pad }}no-top-pad{{ end }}">
          <h2><editable-text data-prop="title"{{ if $rk }} data-rosey="title"{{ end }}>{{ .title }}</editable-text><span data-editable="text" data-prop="title_suffix"{{ if $rk }} data-rosey="title_suffix"{{ end }}>{{ .title_suffix }}</span></h2>
          <p data-editable="text" data-type="text" data-prop="description"{{ if $rk }} data-rosey="description"{{ end }}>{{ page.RenderString .description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
